.dashboard-layout {
    display: flex;
    height: 100%;
    background-color: #f9f9f;
    overflow-x: hidden;
    width: 100%;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s ease;
    margin-left: 105px; /* Matches sidebar width */
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.sidebar.collapsed + .dashboard-content {
    margin-left: 35px; /* Adjust for collapsed sidebar */
}


/* Responsive design: Sidebar hidden on small screens */
@media screen and (max-width: 768px) {
    .dashboard-content {
        margin-left: 1px;
        padding: 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f4f4f4;
}